<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered-title">
      {{ isEdicao ? 'Editar Evento' : 'Criar Evento' }}
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="guardarEvento()">

    <div *ngIf="etapaAtual === 1">
      <!-- LOCAL DO EVENTO -->
      <ion-item [class.erro]="camposInvalidos && !evento.local">
        <ion-label>Local do Evento</ion-label>
        <ion-select [(ngModel)]="evento.local" name="local" required>
          <ion-select-option value="Sala 1">Sala 1</ion-select-option>
          <ion-select-option value="Sala 2">Sala 2</ion-select-option>
          <ion-select-option value="Auditório 1">Auditório 1</ion-select-option>
          <ion-select-option value="Auditório 2">Auditório 2</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- TIPO DE EVENTO -->
      <ion-item [class.erro]="camposInvalidos && !evento.tipo">
        <ion-label position="floating">Tipo de Evento</ion-label>
        <ion-input [(ngModel)]="evento.tipo" name="tipo"></ion-input>
      </ion-item>

      <!-- NOME DO EVENTO -->
      <ion-item [class.erro]="camposInvalidos && !evento.nome">
        <ion-label position="floating">Nome do Evento</ion-label>
        <ion-input [(ngModel)]="evento.nome" name="nome"></ion-input>
      </ion-item>

      <!-- PÚBLICO ALVO -->
      <ion-item [class.erro]="camposInvalidos && !evento.publicoAlvo">
        <ion-label position="floating">Público Alvo</ion-label>
        <ion-input [(ngModel)]="evento.publicoAlvo" name="publicoAlvo"></ion-input>
      </ion-item>

      <!-- DATA E HORA -->
      <ion-datetime
        presentation="date-time"
        [(ngModel)]="evento.dataHora"
        name="dataHora"
        [min]="dataAtual"
        max="2035-12-31T23:59"
        required>
      </ion-datetime>


      <ion-button expand="full" (click)="proximaEtapa()">Continuar</ion-button>
      <ion-button class="cancelar" color="danger" expand="full" (click)="cancelar()">Cancelar</ion-button>
    </div>

    <div *ngIf="etapaAtual === 2">
      <ion-item>
        <ion-label position="floating">Descrição do Evento</ion-label>
        <ion-textarea [(ngModel)]="evento.descricao" name="descricao"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Material Necessário</ion-label>
        <ion-textarea [(ngModel)]="evento.material" name="material"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nº Estimado de Participantes</ion-label>
        <ion-input type="number" [(ngModel)]="evento.participantes" name="participantes"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="proximaEtapa()">Continuar</ion-button>
      <ion-button class="voltar" expand="full" (click)="voltarEtapa()">Voltar</ion-button>
      <ion-button class="cancelar" color="danger" expand="full" (click)="cancelar()">Cancelar</ion-button>

    </div>

    <div *ngIf="etapaAtual === 3">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="evento.nomeContacto" name="nomeContacto" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apelido</ion-label>
        <ion-input [(ngModel)]="evento.apelidoContacto" name="apelidoContacto" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel" [(ngModel)]="evento.telefone" name="telefone" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="evento.email" name="email" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Guardar</ion-button>
      <ion-button class="voltar" expand="full" (click)="voltarEtapa()">Voltar</ion-button>
      <ion-button expand="full" color="danger" (click)="cancelar()">Cancelar</ion-button>
    </div>

  </form>
</ion-content>