<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title class="centered-title">Menu Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-mobile">
  <div class="main-buttons">
    <ion-button class="menu-button" routerLink="/quartos1">Quartos</ion-button>
    <ion-button class="menu-button" routerLink="/termostato">Termostato</ion-button>
    <ion-button class="menu-button" routerLink="/eventos">Eventos</ion-button>
  </div>

  <ion-button class="menu-button logout-button" expand="block" (click)="logout()">Sair</ion-button>
</ion-content>