<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centered-title">Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let evento of eventos" button (click)="abrirDetalhes(evento.id)">
      <ion-label>
        <h2>{{ evento.nome }}</h2>
        <p>{{ evento.dataHora }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #semEventos>
    <ion-text color="medium">
      <p class="ion-text-center">Ainda não existem eventos.</p>
    </ion-text>
  </ng-template>

  <!-- Botão com espaçamento uniforme -->
  <div class="botao-stack">
    <ion-button [routerLink]="['/criar-evento']">Criar Evento</ion-button>
  </div>
</ion-content>
